/*医院列表*/
.hos_child{
	height: 9rem;
	padding-top: .2rem;
}
.hos_child .hos_list_top{
	height: 8.7rem;
	/*border: 1px solid red;*/
	font-size: .2rem;
	line-height: .35rem;
}
.hos_list_top div{
	float: left;
}
.hos_list_top .left{
	width: 28%;
	margin: -.2rem .3rem 0 -.2rem;

}
.hos_list_top .left img{
	width: 100%;
	max-height: 8.9rem;
	overflow: hidden;
}
.hos_list_top .right{
	padding-left:.2rem;
	margin-top: .5rem;
	width: 70%;
}
ul li{
	list-style: none;
}
.detail .name{
	font-size: .88rem;
	letter-spacing: 1px;
	color: black;
	font-weight: 600;
}
#input-test::-webkit-input-placeholder{
	color: #ADD8E6;
}
.search_publish {
	/* height: 1rem; */
	background: linear-gradient(to right,#00afa1, #00c59e);
	border: 0;
	position: relative;
	/*top: -4px;*/
	left: -.35rem;
	/*display: none;*/
}
.search_publish div {
	width: 65%;
}
.search_publish img {
	width: 1.1rem;
	position: absolute;
	top: .4rem;
	right: .5rem;
}
.toggleSou{
	background-color: transparent;
	border: 1.4px solid white;
	width: 100%;
	height: .6rem;
	border-radius: .3rem;
	font-size: .24rem;
	letter-spacing: 0.5px;
	color: black;
	text-indent: .2rem;
	outline: none;
}
.docLevel{
	color: #00aea0;
	font-size: .75rem;
	margin-left: 3%;
}
.right p{
	margin-bottom: .35rem;
	height: 1.4em;
	line-height: 1.4em;
	font-size: .8rem;
}
.peopelCount{
	color: #feb62a;
}
.flex_all_center{
	position: relative;
	font-size: 1rem;
	color: #333333;
}
/*.subjectLong,subsubjectLong{
	width: 2.5rem;
	height: auto;
	position: absolute;
	top: 1.9rem;
!*	left: 2.5rem;*!
	background-color: white;
	z-index: 9;
	padding: .4em 0;
	border: 1px solid #cccccc;
	border-top: none;
	display: none;
}*/
.subP{
	height: 2em;
	line-height: 2em;
	text-align: center;
}
.goodPlace{
	border-top: 1px dashed #cccccc;
	padding: .5em 0 0 0;
	margin: .4em 0 0 0;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.hos_child .hos_list_btm{
	border-top: 1px dashed #DCDCDC;
	padding: .2rem 0;
	margin-top: .2rem;
}
.hos_child .hos_list_btm p{
	float: left;
	border-right: 1px dashed #DCDCDC;
	height: .6rem;
	padding: 0 .2rem;
	width: 33%;
}
.hos_child .hos_list_btm p:last-child{
	border: 0;
}
.hos_list_btm p img{
	margin-right: .2rem;
}
.hos_list_btm p span{
	font-size: .2rem;
	color: #00AFA1;
	margin-left: .1rem;
}

.chooseFen{
	position: fixed;
	top: 2.7rem;
	width: 100%;
	height: 10rem;
	background-color: white;
	z-index: 9;
}
.swiper-container-lun {
	width: 100%;
	/*    height: auto;*/
}

.swiper-container-lun .swiper-slide {
	text-align: center;
	font-size: 18px;
	height: 10.7rem;
	/*	background: #fff;*/
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-slide ul{
	width: 100%;
	margin-top: -1.5rem;
}
.swiper-slide ul li{
	width: 21%;
	margin-left: 3.2%;
	/*height: 2rem;
	line-height: 1.9rem;*/
	margin-top: .3rem;
	float: left;
	font-size: .88rem;
	border-radius: 5px;
	height: 4.1rem;
 }
.border{
	border: 1px solid #dddddd;
}
.borderActive{
	border:1px solid #00afa1;
}
/*list*/
.data-list .hos_doc_child {
	padding: .6rem 0 .6rem 0;
	/*border-bottom: 1px solid #dcdcdc;*/
	width: 103%;
	display: flex;
	margin-left: -0.5%;
	background-color: white;
	margin-top: .6rem;
}
.data-list .hos_doc_child div {
	margin: 2% 2.5% 0 2.5%;
}
.data-list .doc_child_left {
	width: 18%;
}
.hot {
	color: #f81f7b;
	border-radius: 3px;
	padding: .05rem .15rem;
	border: 1px solid #f81f7b;
	font-size: .75rem;
	margin-right: .3rem;
}
.goodsName {
	color: #333333;
	line-height: 1.5rem;
	font-size: .85rem;
}
.address {
	color: #00afa1;
	font-size: .8rem;
	margin: .25rem 0 .25rem 0;
}
.doc_child_right {
	width: 75%;
}
.price {
	color: #f81f7b;
	border-radius: 5px;
	display: inline-block;
	margin-right: .3rem;
	font-size: 1.1rem;
}
.oldprice {
	color: #999;
	font-size: .75rem;
}
.yuyue {
	color: #999;
	font-size: .8rem;
	float: right;
	margin-right: -.3rem;
	margin-top: .06rem;
}
