/*医院列表*/
.hos_child{
	height: 8rem;
	padding-top: .2rem;
}
.hos_child .hos_list_top{
	height: 7.7rem;
	/*border: 1px solid red;*/
	font-size: .8rem;
	line-height: .35rem;
}
.hos_list_top div{
	/*float: left;*/
}
.hos_list_top .left{
	width: 28%;
	margin: -.2rem .2rem 0 -.2rem;
	text-align: center;
}
.hos_list_top .left img{
	max-height: 7.9rem;
	overflow: hidden;
}
.hos_list_top .right{
	position: absolute;
	padding-left:.2rem;
	margin-top: 2.5%;
	width: 96%;
	margin-left: 2%;
	z-index: 99;
	top: 0;
}
.right p {
	margin-top: 1.5%;
	color: white;
	text-align: center;
}
.detail .name {
	font-size: .9rem;
	color: white;
}
.detail .use{
	border: 1px solid white;
	color: white;
	font-size: .8rem;
	border-radius: 30px;
	float: right;
	padding: 0 .45rem;
}
.detail .useed{
	border: 0;
}
.docLevel {
	color: #00aea0;
	font-size: .8rem;
	margin-left: 3%;
}
.goodPlace {
	border-top: 1px dashed #cccccc;
	padding: .5em 0 0 0;
	margin: .4em 0 0 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
ul li{
	list-style: none;
}
.split{
	width: 96%;
	height: 1px;
	margin-left: 2%;
	border-top: 1px dashed #e5e5e5;
}

/*体验券*/
.hos_list_top{
	position: relative;
}
.backImg img{
/*	position: absolute;*/
	width: 100%
}