.hos_child{
	/*height: 8rem;*/
	padding-top: .2rem;
	padding-bottom: 0.2em;
	margin-top: .9rem;
	float: left;
	background-color: white;
	width: 100%;
}
.hos_child .hos_list_top{
	/*height: 2.9rem;*/
	/*border: 1px solid red;*/
	font-size: .9rem;
	/*line-height:2.5rem;*/
	/*display: flex;*/
	/*float: left;*/
	width: 100%;
	color:#333333;
	/*padding-left: 2.8%;*/
	/*border-bottom: 1px solid #e5e5e5*/
}
/*.hos_list_top div{
	float: left;
}*/
.overflow_num_ellipsis {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.hos_list_top .left{
	width: 19%;
	margin: .1rem 0 0 -0.5%;
	line-height: 3.3rem;
	padding-left: 0;
	color: #222;
	float: left;
}
.hos_list_top .left img{
	max-height: 4.9rem;
	overflow: hidden;
	width: initial;
	padding: .2rem;
}
.hos_list_top2 .left{
	width: 33%
 }
.hos_list_top .right{
	padding-left:6%;
	margin-top: -2rem;
	width: 75%;
	float: left;
	font-size: .85rem;
}
.hos_list_top2 .right{
	width: 64%;
}
.right input[type="text"],.right input[type="tel"]{
	width: 90%;
	height: 2rem;
	line-height: 2rem;
	border: none;
	outline: none;
	font-size: .9rem;
	padding-left: .3rem;
}
.right select{
	width: 70%;
	height: 1.7rem;
	line-height: 1.7rem;
	border: 1px solid #c5c5c5;font-size:.85rem;
}
.right textarea{
	width: 97%;
	min-height: 5rem;
	border: 1px solid #c5c5c5;
	margin-top: .7rem;
	padding: .5rem .5rem .5rem .5rem;font-size: .85rem;
}
.bindBtn {
	width: 52%;
	margin-left: 24%;
	border-radius: 5px;
	height: 2.5rem;
	line-height: 2.5rem;
	color: white;
	font-size: 1rem;
	margin-top: 6%;
	text-align: center;
	margin-bottom: 3rem;
	/* position: fixed; */
	bottom: 0;
	background-color: #00afa1;
}
.writeWarn{
	height: 1rem;font-size: .85rem;color:#777;    padding-left: 5%;
}
.sex:checked {
	background: url(../img/raido.png);
	background-size: 100% 100%;
	color: white;
	border: 0px;
}
.sex {
	float: left;
	width: 15px;
	margin-left: 12px;
	height: 15px;
	margin-top: .8rem;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background: #fff;
	border-radius: 50%;
	border: 1px solid #c0c0c0;
	color: #fff;
	display: block;
}
.sexname {
	float: left;
	margin: 0 2em 0 5px;
}
.addPhontBtn {
	display: inline-block;
	width: 6rem;
	height: 6rem;
	 /*border: 1px solid #dcdcdc;*/
	text-align: center;
	vertical-align: top;
	 margin-top: 1rem;
	position: relative;
	float: right;
	margin-right: 3%;
	background-color: #f1f1f1;
}
.addPhontBtn img {
	width: 1.8rem;
	margin: 2rem 0 -.2rem 0;
}
.addPhontBtn input[type="file"] {
	position: absolute;
	right: 4.3%;
	width: 6rem;
	height: 6rem;
	opacity: 0;
}
.photoPost {
	display: inline-block;
	width: 5rem;
	height: 3rem;
	background-color: #e7e7e7;
	vertical-align: top;
	float: right;
	margin-right: 1rem;
	margin-top: -.4rem;
	position: relative;
	text-align: center;
}
.photoPost img{
	height: 100%;
}
.delPhoto{
	width: 100%;
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: .8rem;
	color: white;
	text-align: center;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: rgba(97, 97, 97, 0.6);
}
.warnPhoto{
	color: red;
	font-size: .9rem;
	vertical-align: top;
	display: inline-block;
	margin-top: 3rem;
}
#mescroll3 li {
	position: relative;
	/* padding: 10px 8px 10px 120px; */
	border-bottom: 1px solid #eee;
	list-style: none;
}
.yuyueTop {
	width: 100%;
	color: black;
	font-size: .9rem;
	margin: .1rem 0 0 0%;
	height: 2rem;
	line-height: 1.6rem;
	clear: both;
	border-bottom: solid 1px #dcdcdc;
}
.famousName {
	display: inline-block;
	font-size: .92rem;
	margin-left: 4%;
}
.yuyueStatus {
	color: #00afa1;
	font-weight: 500;
	font-size: .85rem;
	float: right;
	margin-right: 1.5%;
}
.orderContent {
	width: 96%;
	color: black;
	font-size: .2rem;
	margin: .7rem 0 0 4%;
	height: 5.5rem;
	clear: both;
	/*border-bottom: solid 1px #dcdcdc;*/
}
.right p {
	margin-bottom: .2rem;
	height: 1.4rem;
	line-height: 1.4rem;
}
.ordercommont {
	border-radius: 5px;
	color: white;
	font-weight: 500;
	font-size: .8rem;
	float: right;
	margin-left: 1.5%;
	margin-right: 3%;
	border: none;
	background-color: #00afa1;
	outline: none;
	padding: .4rem .7rem;
	z-index: 99;
	position: relative;
}
.orderReadMore{
	float: right;
	color: #00afa1;
	margin-top: .25rem;
}
.homeList{
	padding: 10px 20px;
}
.head {
	width: 5.3rem;
	margin: 0 auto;
	text-align: center;
	position: relative;
	/*padding-top: 3px;*/
	margin-bottom: 1rem;
}
.head img{
	width: 100%;
	margin-bottom: -.25rem;
	border-radius: 50%;
}
.name,.sexImg{
	/*margin-right: 10px;*/
}
.myhealthname,.mydoctorname,.mynursename{
	/*text-decoration: underline;*/
	color: black;
}
.homeService{
	width: 48%;
	margin-right: 3%;
	background-color: white;
	border-radius: 5px;
	height: 6rem;
	float: left;
	position: relative;
	text-align: center;
	margin-bottom: .73rem;
}
.homeServiceCenterImg{
	width: 2.3rem;
	margin: 1.7rem 3% 0 0;
}
.homeServiceCenterZi{
	vertical-align: top;
	font-size: .9rem;
	margin-top: 2.35rem;
	display: inline-block;
}
.homeServiceRight{
	position: absolute;
	right: 0;
	top: -5px;
	background: url(../img/health/healthPercent.png) no-repeat;
	background-size: 100% 100%;
	/* background-position: 100% 91%; */
	color: white;
	width: 25%;
	height: 1.7rem;
	line-height: 1.7rem;
	text-align: center;
}
.percent{
	font-size: 1.1rem;
}
.age{
	color: #555;
	vertical-align: text-bottom;
	display: inline-block;
	font-size: 1rem;
}
.sexImgSrc{
	width: 1.3rem;
	vertical-align: top;
	margin: .2rem;
}
.addMescroll1Img{
	width: 3.8rem;
	position: fixed;
	bottom: 0.8rem;
	right: 3%;
	z-index: 9;
}
.orderBottom {
	width: 100%;
	color: black;
	font-size: .8rem;
	margin: .5rem 0 0 0;
	height: 2.2rem;
	line-height: 1.6rem;
	clear: both;
	background-color: white;
}
.orderBottom textarea {
	width: 92%;
	border: 1px solid #d8d8d8;
	/* border: none; */
	font-size: .9rem;
	height: 10rem;
	resize: none;
	outline: none;
	padding: .5rem;
	margin: 0 0 0 4%;
	background-color: #f3f3f3;
}
.mescroll1DivAdd{
	display: none;
	margin-top: 1rem;
}
.bingzhuangInput{
	width: 92%;
	height: 2rem;
	line-height: 2rem;
	color: #444;
	padding-left: 2%;
	margin-left: 4%;
	margin-top: .1rem;
	margin-bottom: 1rem;
	border: 1px solid #c7c7c7;
	font-size: .95rem;
}
.postBingli{
	width: 80%;
	margin-left: 10%;
	height: 2.7rem;
	float: none;
	font-size: 1rem;
	margin-top: 2.7rem;
}