.closeOrder{
	height: 1.2rem;
	color: white;
	font-size: .8rem;
	display: none;
	position: absolute;
	right: 3%;
	top: .85rem;
}
	/*医院列表*/
.hos_child{
	/*height: 11.9rem;*/
	padding-top: .2rem;
}
.hos_child .hos_list_top{
	/*height: 11.6rem;*/
	/*border: 1px solid red;*/
	font-size: .8rem;
	line-height: .35rem;
	padding-bottom: .65rem;
}
.hos_list_top div{
	float: left;
}
.hos_list_top .left{
	width: 28%;
	margin: -.2rem .2rem 0 -.2rem;
	clear: both;
}
.hos_list_top .left img{
	max-height: 4.9rem;
	overflow: hidden;
}
.hos_list_top .right{
	padding-left:.2rem;
	width: 70%;
}
.right p {
	margin-bottom: .2rem;
/*	height: 1.4rem;*/
	line-height: 1rem;
}
.detail .name {
	display: inline-block;
	font-size: .9rem;
	letter-spacing: 1px;
	width: 100%;
	color: black;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.peopelCount {
	color: #feb62a;
}
.goodPlace {
	border-top: 1px dashed #cccccc;
	padding: .5em 0 0 0;
	margin: .4em 0 0 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
ul li{
	list-style: none;
}
.split{
	width: 96%;
	height: 1px;
	margin-left: 2%;
	border-top: 1px dashed #e5e5e5;
}
.orderContent{
	width: 94%;
	color: black;
	font-size: .2rem;
	margin: .7rem 0 0 4%;
	min-height: 5.5rem;
	clear: both;
}
.hosOrderDetailPrice{
	float: right;
}
.hosOrderDetailCount{
	margin-left: 2%;
}
.orderFu{
	margin: 0 0 0 4%;
	padding-top: .6rem;
	height: 2.3rem;
	width: 95%;
	border-top: solid 1px #dcdcdc;
}
.orderPay{
	border-radius: 5px;
	color: white;
	font-weight: 500;
	font-size: .8rem;
	float: right;
	margin-right: 1.5%;
	border: none;
	background-color: #f81f7b;
	outline: none;
	padding: .25rem .6rem;
}
.yuyueStatus {
	color: #00afa1;
	font-weight: 500;
	font-size: .85rem;
	float: right;
	margin-right: 1.5%;
	margin-top: .7rem;
}
.orderDel {
	color: #444;
	font-weight: 500;
	font-size: .8rem;
	float: right;
	margin-right: 1.5%;
	border: 1px solid #dcdcdc;
	background-color: white;
	outline: none;
	padding: .25rem .5rem;
}
.ordersure,.ordercommontBtn{
	border-radius: 5px;
	color: white;
	font-weight: 500;
	font-size: .8rem;
	float: right;
	margin-left: 1.5%;
	margin-right: 1.5%;
	border: none;
	background-color: #00afa1;
	outline: none;
	padding: .25rem .6rem;
}
.orderclose{
	float: right;
	margin-right: 1.5%;
	font-weight: 500;
	font-size: .8rem;
	line-height: 1rem;
	padding: .25rem .6rem;
	color: #00afa1;
}
.lastFu{
	float: right;
	margin-right: 1.5%;
	padding: .25rem .6rem;
	font-weight: 500;
	font-size: .8rem;
	line-height: 1rem;
}
.orderdetailchoose,.hosOrderDetail{
	color: #555;
	font-size: .72rem;
}
.orderzong{
	color: #444;
	font-size: .75rem;
}
.orderzongfu{
	color: #f81f7b;
	font-size: .7rem;
}
.orderzongPrice,.orderzongPriceLast{
	color: #f81f7b;
	font-size: .9rem;
}

.yuyueTop {
	width: 94%;
	color: #444;
	font-size: .9rem;
	margin: .5rem 0 0 4%;
	height: 2.2rem;
	line-height: 1.6rem;
	clear: both;
	border-bottom: solid 1px #dcdcdc;
	padding-left: .2rem;
}
.famousName {
	display: inline-block;
}
.diagnosesName{
	width: 4.5rem;
	text-align: right;
	float: left;
}
.diagnosesInfo{
	/*width: 80%;*/
	float: left;
}
.ordercommont,.ordercall{
	color: #00afa1;
	border-radius: 5px;
	font-weight: 500;
	font-size: .8rem;
	border: 1px solid #dcdcdc;
	background-color: white;
	outline: none;
	width: 40%;
	margin-left: 5%;
	height: 1.9rem;
	margin-top: .2rem;
}
.ordercommont img,.ordercall img{
	width: .85rem;
	margin-right: .6rem;
	margin-top: .2rem;
	vertical-align: top;
}

.hos_data {
	 border-bottom: 1px solid #dcdcdc;
	margin-top: .1rem;
	width: 94%;
	margin-left: 3%;
	position: relative;
	clear: both;
	display: flex;
}
.hospitail_detail p {
	/* height: .84rem; */
	position: relative;
	font-weight: 500;
}
.hos_data span {
	display: inline-block;
	height: 2.8rem;
	line-height: 2.9rem;
	/*margin-left: 1.7rem;*/
}
.hos_data .next {
	height: .8rem;
	position: absolute;
	top: 1rem;
	right: 0;
}

.btm {
	margin-top: .3rem;
	margin-left: .5rem;
	width: 95%;
	padding-bottom: .8rem;
}
.btm p {
	min-height: 1.2rem;
	line-height: 1.4rem;
	margin: .5rem 0 0 4%;
	font-size: .9rem;
}
/*电话*/
.call-active{
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}
.shareCall{
	background-color: white;
	height: 6rem;
	font-size: 14px;
	bottom: 0;
	left: 0;
	position: fixed;
	-webkit-transition: -webkit-transform 500ms;
	transition: transform 500ms;
	width: 100%;
	z-index: 1110;
}
.sharebg {
	background-color: rgba(0, 0, 0, 0.2);
	bottom: 0;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}
/*向上全部拉出*/
/*.share-title { background-color: #f8f8f8; border-bottom: 1px solid #fff; border-top-left-radius: 2px; border-top-right-radius: 2px; color: #555; font-weight: 400; margin: 0 10px; padding: 10px 0 0; text-align: center; }*/
.share-title::after {
	border-bottom: 1px solid #dfdfdf;
	content: "";
	display: block;
	height: 0px;
	margin-top: 10px;
	width: 100%;
}
.sharebg-active {
	opacity: 1;
	display: block;
}

.clear {
	clear: both;
}
.mainCall{
	width: 100%;
	height:3.1rem;
	line-height: 3.1rem;
}
.mainCall img{
	width: 2rem;
	margin: .2rem 0 0 28%;
}
.mainCall a{
	color: #00afa1;
	font-size: 1.3rem;
	text-decoration:none;
	width: 100%;
	height: 3.1rem;
	line-height: 2.9rem;
	display: inline-block;
}
.split{
	width: 100%;
	height: 0.4rem;
	background-color: #f5f5f5
}
.cancel{
	width: 100%;
	height: 2.5rem;
	line-height:2.5rem;
	color: #00afa1;
	font-size: .9rem;
	text-align: center;
}







