/*医院列表*/
.hos_child{
	/*height: 11.9rem;*/
	padding-top: .2rem;
}
.hos_child .hos_list_top{
	/*height: 11.6rem;*/
	/*border: 1px solid red;*/
	font-size: .8rem;
	line-height: .35rem;
}
.hos_list_top div{
	float: left;
}
.hos_list_top .left{
	width: 26%;
	margin: -.2rem .2rem 0 -.2rem;
	clear: both;
}
.hos_list_top .left img{
	max-height: 4.9rem;
	overflow: hidden;
}
.hos_list_top .right{
	padding-left:.2rem;
	width: 73%;
}
.right p {
	margin-bottom: .2rem;
	height: 1.4rem;
	line-height: 1.4rem;
}
.detail .name {
	display: inline-block;
	font-size: .9rem;
	letter-spacing: 1px;
	width: 100%;
	color: black;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.docLevel {
	color: #00aea0;
	font-size: .8rem;
	margin-left: 3%;
}
.peopelCount {
	color: #feb62a;
}
.goodPlace {
	border-top: 1px dashed #cccccc;
	padding: .5em 0 0 0;
	margin: .4em 0 0 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.spanFloat{
	display: inline-block;
	width: 50%;
	overflow: hidden;
	float: left;
	white-space:nowrap;
	text-overflow:ellipsis;
	font-size: .9rem;
}
ul li{
	list-style: none;
}
.split{
	width: 96%;
	height: 1px;
	margin-left: 2%;
	border-top: 1px dashed #e5e5e5;
}
.yuyueTop {
	width: 94%;
	color: black;
	font-size: .9rem;
	margin: .5rem 0 0 4%;
	height: 2.2rem;
	line-height: 1.6rem;
	clear: both;
	border-bottom: solid 1px #dcdcdc;
}
.orderContent{
	width: 94%;
	color: black;
	font-size: .2rem;
	margin: .7rem 0 0 4%;
	height: 5.5rem;
	clear: both;
	border-bottom: solid 1px #dcdcdc;
}
.orderBottom{
	width: 94%;
	color: black;
	font-size: .8rem;
	margin: .5rem 0 0 4%;
	height: 2.2rem;
	line-height: 1.6rem;
	clear: both;
}
.famousName {
	display: inline-block;
}
.yuyueStatus {
	color: #00afa1;
	font-weight: 500;
	font-size: .85rem;
	float: right;
	margin-right: 1.5%;
}
.orderDel,.ordercancel {
	color: #444;
	font-weight: 500;
	font-size: .8rem;
	float: right;
	margin-right: 1.5%;
	border: 1px solid #dcdcdc;
	background-color: white;
	outline: none;
	padding: .25rem .5rem;
}
.orderPay{
	border-radius: 5px;
	color: white;
	font-weight: 500;
	font-size: .8rem;
	float: right;
	margin-left: 1.5%;
	margin-right: 1.5%;
	border: none;
	background-color: #f81f7b;
	outline: none;
	padding: .25rem .6rem;
}
.ordersure,.ordercommont{
	border-radius: 5px;
	color: white;
	font-weight: 500;
	font-size: .8rem;
	float: right;
	margin-left: 1.5%;
	margin-right: 1.5%;
	border: none;
	background-color: #00afa1;
	outline: none;
	padding: .25rem .6rem;
}
.orderdetailchoose{
	color: #555;
	font-size: .72rem;
}
.orderzong{
	color: #444;
	font-size: .75rem;
}
.orderzongfu{
	color: #f81f7b;
	font-size: .7rem;
}
.orderzongPrice{
	color: #f81f7b;
	font-size: 1rem;
}