
/*找医生*/

.name {
	color: black;
	margin-bottom: .2rem;
}
.hos_doc_list .doc_child_right {
	/* border: 1px solid black; */
	width: 79%;
	color: #333333;
	padding-left: 0;
}
.doc_child_right .id span {
	display: inline-block;
	height: .5rem;
}
.commontTime {
	color: #666;
	font-size: .25rem;
	float: right;
}
.commontZi {
	font-size: .3rem;
	clear: both;
	color: #666;
	margin-top: 0.2rem;
}
.commontImg {
	width: 46%;
	margin-right: 4%;
	/* float: left; */
}
/*科室*/


.hos_doc_list .hos_doc_child {
	padding: .25rem 0 .25rem 0;
	border-bottom: 1px solid #dcdcdc;
	width: 96%;
	display: flex;
	margin-left: 2%;
}
.hos_doc_list .hos_doc_child div {
	margin: 2% 3.5% 0 -0.8%;
}
.hos_doc_list .doc_child_left {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	overflow: hidden;
}
