/*@media all and (min-width: 220px) {
	html {
		font-size: 10px;
	}
}
@media all and (min-width: 320px) {
	html {
		font-size: 10px;
	}
}

@media all and (min-width: 360px) {
	html {
		font-size: 13px;
	}
}

@media all and (min-width: 480px) {
	html {
		font-size: 16px;
	}
}
@media all and (min-width: 560px) {
	html {
		font-size: 16px;
	}
}

@media all and (min-width: 640px) {
	html {
		font-size: 20px;
	}
}*/

/*@media all and (min-width: 720px) {
	html {
		font-size: 22px;
	}
}*/
.find_docDiv {
	height: 3.7rem;
	width: 97%;
	margin-left: 2%;
}
.find_docDiv img {
	/* width: 38%; */
	margin: 1rem 0 0 5%;
	max-height: 1.8rem;
	width: initial;
}
 .find_docDiv .btm {
	/* width: 84%; */
	height: 3rem;
	font-size: .8rem;
	/* border: 1px solid red; */
	margin: 0 0 0 0;
	line-height: 1.5rem;
	position: absolute;
}
.find_docDiv .black {
	height: 1.2rem;
	line-height: 1.25rem;
	font-size: .9rem;
	font-weight: 500;
}
.next {
	height: .8rem;
	position: absolute;
	top: .6rem;
	right: 4.5%;
}
.xywz_search{
	height: 2.9rem;
	border: 1px solid transparent;
}
.xywz_search .log{
	width: 2.11rem;
	margin: 0 auto;
	margin-top: .25rem;
}
.xywz_search .title{
	font-size: .24rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #333333;
    text-align: center;
    height: .8rem;line-height: .8rem;
}

.xywz .search_publish{
	/*background: white;*/
}
.xywz .search_publish div{
	width: 5.2rem;
}
/*找医生*/
.xywz_top {
	width: 7.5rem;
	border: 1px solid transparent;
	padding: 0;
	margin: 0 auto;
	margin-top: .3em;
}
.xywz_top .find .find_doc,.xywz_top .find .find_hos {
	height: 3.54rem;
	background-image: url(../img/xywz/find_doc.png);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.xywz_top .find .find_hos {
	background-image: url(../img/xywz/find_hos.png);
}
.xywz_top .find div {
	width: 3.72rem;
	height: 1.7rem;
	float: left;
}
.find div .black {
	height: .5rem;
	line-height: .5rem;
	font-size: .24rem;
	font-weight: 500;
}
.find .find_doc .btm,.find .find_hos .btm {
	width: 2.8rem;
	height: 1rem;
	font-size: .18rem;
	/* border: 1px solid red; */
	margin: 2.3rem 0 0 .5rem;
	line-height: .3rem;
}
/*名医专家*/
.doc_specialist{
	height: .79rem;
}
.doc_specialist .more{
	font-size: .2rem;
    font-weight: 500;
    width: 4.7rem;height: .79rem;
    margin-left: 2rem;
    /*border: 1px solid red;*/
}
.doc_specialist .more img{
	height: .3rem;
	position: absolute;
	top: .24rem;right: .2rem;
}

/*科室*/
.ks{
	border: 1px solid transparent;
	/*height: 7.6rem;*/
	padding-bottom: .3rem;
	padding-top: .1rem;
}
.ks_list{
	/*height: 20rem;*/
	/*border: 1px solid red;*/
	margin-top: .1rem;
	border-bottom: 1px dashed #e3e3e3;
	/*border-top: 1px dashed #DCDCDC;*/
}
.ks_list .ks_child{
	float: left;
	width: 25%;
	height: 5rem;
	/*border-bottom: 1px dashed #DCDCDC;
	border-right: 1px dashed #DCDCDC;*/
}
.ks_list .ks_child p{
	width: 2.3rem;
	height: 2.3rem;
	margin: 0 auto;
	margin-top: .6rem;
	margin-bottom: .5rem;
}
.ks_list .ks_child .img1{background-image: url(../img/xywz/ks1.png);}
.ks_list .ks_child .img2{background-image: url(../img/xywz/ks2.png);}
.ks_list .ks_child .img3{background-image: url(../img/xywz/ks3.png);}
.ks_list .ks_child .img4{background-image: url(../img/xywz/ks4.png);}
.ks_list .ks_child .img5{background-image: url(../img/xywz/ks5.png);}
.ks_list .ks_child .img6{background-image: url(../img/xywz/ks6.png);}
.ks_list .ks_child .img7{background-image: url(../img/xywz/ks7.png);}
.ks_list .ks_child .img8{background-image: url(../img/xywz/ks8.png);}
.ks_list .ks_child .img9{background-image: url(../img/xywz/ks9.png);}
.ks_list .ks_child .img10{background-image: url(../img/xywz/ks10.png);}
.ks_list .ks_child .img11{background-image: url(../img/xywz/ks11.png);}
.ks_list .ks_child .img12{background-image: url(../img/xywz/ks12.png);}
.ks_list .ks_child .img13{background-image: url(../img/xywz/ks13.png);}
.ks_list .ks_child .img14{background-image: url(../img/xywz/ks14.png);}
.ks_list .ks_child .img15{background-image: url(../img/xywz/ks15.png);}
.ks_list .ks_child span{
	display: inline-block;
	width: 100%;height: 1.5rem;
	text-align: center;
	font-size: .85rem;
}

 .all_content {
	 height: 2.2rem;
	 /* margin-top: 1rem; */
	 font-size: .8rem;
}
.all_content img {
	 width: .8rem;
	transform:rotate(180deg);
 }

.hos_doc_list .hos_doc_child {
	padding: .5rem 2% .5rem 4%;
	margin-left: -0.5%;
	/*border-bottom: 1px solid #dcdcdc;*/
	background-color: white;
	width: 101%;
	display: flex;
	margin-top: .7rem;
}
.hos_doc_list .hos_doc_child div {
	margin: 2% 1% 0 -0.8%;
}
.hos_doc_list .doc_child_left {
	width: 27%;
}
.doc_child_right{
	width: 70%;
}
.all_doc{
	width: 100%;
	height: 2.8rem;
	line-height: 2.8rem;
	text-align: center;
	color: #000000;
	font-size: .85rem;
}
.hot{
	color: #f81f7b;
	border-radius: 3px;
	padding: .05rem .15rem;;
	border: 1px solid #f81f7b;
	font-size: .75rem;
	margin-right: .3rem;
}
.goodsName{
	color: #333333;
	line-height: 1.5rem;
	font-size: .85rem;
}
.address{
	color: #00afa1;
	margin: .14rem 0 .14rem 0;
	/*color: #707070;*/
	font-size: .75rem;
}
.price{
	color: #f81f7b;
	border-radius: 5px;
	display: inline-block;
	margin-right: .3rem;
	font-size: 1.1rem;
}
.oldprice{
	color: #999;
	font-size: .75rem;
}
.yuyue{
	color: #707070;
	font-size: .8rem;
	/* float: right; */
	margin-right: -.3rem;
	margin-top: 0.24rem;
	float: right;
}
.adverlist li {
	position: relative;
	/* padding: 10px 8px 10px 120px; */
	/*border-bottom: 1px solid #eee;*/
	width: 22%;
	margin-left: 2.4%;
	float: left;
}
.hos_list_top .left {
	width: 100%;
	/* margin: -.2rem .2rem 0 -.2rem; */
}
.hos_list_top div {
	float: left;
}
.hos_list_top .right {
	padding-left: .2rem;
	margin-top: .5em;
	width: 94%;
	margin-left: 5%;
}
.right p {
	margin-bottom: .2rem;
	height: 1.4em;
	line-height: 1.4em;
}
.advername{
	font-size: .9rem;
	color: black;
	text-align: center;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.adveraddress{
	font-size: .8rem;
	color: #666;
	text-align: center;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.adverprice{
	color: #f81f7b;
	font-size: 1rem;
}
.adveroldPrice{
	color: #999;
	font-size: .7rem;
}