body{
    margin: 0 auto;
}
.edit{
    float: right;
    margin-right: 2%;
    display: inline-block;
    margin-top: .1rem;
}
.contain{
    width: 100%;
    text-align: center;
    font-family: PingFang-SC;

}
.top{
    color: #00afa1;
    padding: 8px 0px 12px 0px;
    border-bottom: 1px solid #959595;
    margin: 0 10px;
}

.top img{
    width: 22px;
    vertical-align: middle;
}
.top label{
    width: 81%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 1.1em;
}
.top .add_img{
    text-align: right;
}
.classify{
    overflow: auto;
    margin: 3px;
}
.type{
    width: 20%;
    text-align: center;
    padding: 8px 0px;
    margin: 0 6%;
    float: left;
    color: #707070;

}
.active{
    border-bottom: 2px solid #00afa1;
    color: #00afa1;
}

.ticket{
    border: solid 1px #707070;
    border-radius: 10px;
    margin: 16px 10px 0px 10px;
    padding: 10px;
}
.title{
    vertical-align: middle;
    padding-bottom: 10px;
    border-bottom: solid 1px #707070;
    font-size: 0.88em;
    overflow: auto;
}
.ticket_num{
    float: left;
    display: inline-block;
}
.ticket_status{
    float: right;
    display: inline-block;
}
.title .status{
    color:  #00afa1;
    display: inline-block;
}
.ticket_content{
    padding-top: 10px;
    overflow:auto;
    font-size: 0.88em;


}
.ticket_content p{
    width: 49%;
    float: left;
    margin: 5px 3px 5px 0px;
}
.modify_btn{
    border:solid 1px #707070 ;
    padding: 4px 9px;
    border-radius: 5px;
    position: relative;
    background-color: white;
    margin-left: 83%;
}

.params{
   margin: 0px 9%;
}
.params p,.expires p{
    margin: 16px 0px 10px 0px;
}
.img_span{
    vertical-align: middle;
}
.algin{
    margin-left: 5px;
    font-size: 0.9em;
}

.params input{
    outline: none;
    border: solid 1px #707070;
    border-radius: 10px;
    padding: 10px;
    width: 88%;
}

.expires select{
    outline: none;
    border:none;
    border-radius: 10px;
    width: 100%;
    background-color: white;
   /* height: 1.8rem;*/

}

.expires select option{
    margin-left: -10px;
    border: none;
}
.expires{
    margin: 10px 9%;
}

.expires label{
    display: inline-block;
    border: solid 1px #707070;
    border-radius: 10px;
    padding: 0 10px;
    width: 88%;
    height: 2rem;
    line-height: 2rem;
}

.expires .date{
    width: 20px;
    vertical-align: middle;
    float: right;
    margin-top: .3rem;
}
.add_tic_btn{
    background-color: #00afa1;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
    color: white;
    border: none;
    padding: 12px ;
    font-size: 1.2em;
}
.closeopen{
    position: absolute;
    width: 1.5rem;
    right: .3rem;
    top: .3rem;
}

