<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/base.css" />
<link rel="stylesheet" href="css/util.css" />
<link rel="stylesheet" href="css/collect.css" />
<title>医院分诊列表</title>
<style>
.head_area .public_input span{
	width: 100px;font-size: 18px;
}
.head_area .public_input input,
.head_area .public_input select{
	width: 180px;margin-left: 10px;margin-right: 10px;
}
.layui-laydate-content table td {
	min-height: inherit;
	line-height: inherit;
	border: none;
}
	.layui-title{
		padding: 6px 15px;
		margin-bottom: 0;
		line-height: 22px;
		border-left: 5px solid #009688;
		border-radius: 0 2px 2px 0;
		background-color: #f2f2f2;
	}
.sysNotice {
	width: 49%;
	float: left;
}
.col{
	padding-left: 5px;
}
table{
	margin-bottom: 10px;
}
table th {
	padding: 5px 10px;
	min-height: 20px;
	line-height: 20px;
	border: 1px solid #e2e2e2;
	font-size: 14px;
}
.renwu_mainmenu {
	position: relative;
	width: 897px;
	margin-left: 12px;
}
.renwu_mainmenu > li {
	background-position: 51% 0%;
	background-size: 88% 100%;
	height: 30px;
	clear: both;
	margin-bottom: 5px;
	line-height: 30px;
	text-align: left;
	padding-left: 20px;
	background-color: #fafafa;
	box-sizing: border-box;
	position: relative;
	border-top: 0;
	border-top: 1px solid white;
	font-size: 12px;
	color: #ff9900;
}
.submenu2 {
	margin-bottom: 10px;
	margin-left: 20px;
	display: block;
}
.zhankai {
	float: right;
	/* margin-right: 49px; */
	cursor: pointer;
	margin-right: 3px;
	color: #939393;
}
</style>
</head>
<body>
<div class="content hos_special_proj">
	<div class="navigate_head clearfix">
		<p class="" onclick="window.location.href='allotList.html'">分诊列表</p>
		<p class="" onclick="window.location.href='todayRecord.html'">今日回访</p>
		<p class="navi_current">回访</p>
		<!--<p onclick="window.location.href='add_special_proj.html'">申请特价项目</p>-->
		<!--<p class="navi_null"></p>-->
	</div>
	<!--头部功能-->
	<div class="head_area flex_vertical" style="display: block;">
		
		
		
		<!--<div class="public_input margindiv">
			&lt;!&ndash;<span >项目名称：</span>&ndash;&gt;
			&lt;!&ndash;<span class="font_green" onclick="add_doc_case()">+ 添加回访</span>&ndash;&gt;
		</div>-->
		<div class="csx" style="clear: both; display: block;">
			<ul class="renwu_mainmenu">
				<li onclick="togetstaff(this)"><span class="zhankai">▼</span><span class="zhankai zhankaizi">收起</span>
					<span class="span"></span>
				</li>
				<ul class="submenu2">

				</ul>
			</ul>
		</div>

		<!--<div class="public_input margindiv">
			&lt;!&ndash;<span>平台发布：</span>&ndash;&gt;
			<select class="isdrainage">
				<option value="">请选择是否引流</option>
				<option value="true">是</option>
				<option value="false">否</option>
			</select>
		</div>-->
		<!--<button class="search" onclick="indexPage()">搜索</button>-->
	</div>
	<div class="row">

		<div class="sysNotice col" style="width: 39%;">
			<blockquote class="layui-title">咨询信息</blockquote>
			<table class="layui-table" style="margin-top: 0">

				<thead>
				<tr>
					<!--	<th></th>-->
					<th>咨询时间</th>
					<th>咨询医院</th>
					<!--<th>疾病</th>-->
					<!--<th>来源</th>-->
					<!--<th>客服</th>
					<th>病种</th>
					<th>分诊医院</th>-->
					<th>咨询项目</th>
					<!--<th>操作</th>-->
				</tr>
				</thead>
				<tbody class="news_contentAdvisory"></tbody>
			</table>
		</div>
		<div class="sysNotice col" style="width: 59%;">
			<blockquote class="layui-title">就诊信息</blockquote>
			<table class="layui-table" style="margin-top: 0">

				<thead>
				<tr>
					<!--	<th></th>-->
					<th>就诊时间</th>
					<th>就诊医院</th>
					<!--<th>疾病</th>-->
					<!--<th>来源</th>-->
					<!--<th>客服</th>
					<th>病种</th>
					<th>分诊医院</th>-->
					<th>就诊项目</th>
					<th>就诊费用</th>
					<!--<th>操作</th>-->
				</tr>
				</thead>
				<tbody class="news_contentDiagnosis"></tbody>
			</table>
		</div>
	</div>
	<div class="col" style="clear: both">
		<blockquote class="layui-title">历史回访<span style="    float: right;
    font-size: 19px;" class="font_green" onclick="add_doc_case()">+ 添加回访</span></blockquote>
		<table>
			<thead>
			<tr>
				<!--<td>姓名</td>
				<td>手机号</td>-->

				<!--<td>图片</td>-->
				<th>回访时间</th>
				<th>回访客服</th>
				<th>医院回访状态</th>
				<th>e诺回访状态</th>
				<th>回访内容</th>
				<!--	<td>操作</td>-->
			</tr>
			</thead>
			<tbody class="news_content">

			</tbody>
		</table>
	</div>

	<!--分页-->
	<!--<div class="page flex_vertical">
		<button class="" onclick="indexPage()">首页</button>&nbsp;
		<button class="" onclick="backPage()"><上一页</button>&nbsp;
		&lt;!&ndash;页码&ndash;&gt;
		<p class="page_num">
			&lt;!&ndash;<span>1</span><span>2</span><span>3</span><span>4</span><span>5</span>&ndash;&gt;
		</p>...
		<button class="" onclick="nextPage()">下一页></button>&nbsp;
		<button class="" onclick="endPage()">末页</button>&nbsp;
		共<span class="all_recode">0 </span>记录&nbsp;|
		共<span class="all_page">0 </span>页&nbsp;
		到第<input class="select_page" />页&nbsp;
		<button class="confirm_page" onclick="skipPage()">确定</button>
	</div>-->
</div>
<!--遮罩层-->
<div class="shade none"></div>
<!--增加回访弹框-->
<div class="popup_box add_access_box none" style="    top: 130px;">
	<p class="img_close clearfix">
		<img src="img/close.png" onclick="close_box()"/>
	</p>
	<div>
		<div class="public_input">
			<span style="width: 120px;vertical-align: top;">回访内容:</span>
			<textarea class="access" style="height: 100px;width: 300px;    margin-left: 30px;" placeholder="回访内容"></textarea>
		</div>
		<div class="public_input">
			<div class="public_input margindiv">
				<span style="width: 120px;">状态:</span>
				<select class="editpass" style="width: 200px;">
					<option value="">请选择状态</option>
					<option value="unAccess" title="unAccess">未回访</option>
					<option value="reservation" title="reservation">已预约</option>
					<option value="visit" title="visit">已到诊</option>
					<option value="success" title="success">已成交</option>
					<option value="faild" title="faild">到诊未成交</option>
					<option value="repeat" title="repeat">重单</option>
					<option value="unContact" title="unContact">无法联系</option>
					<option value="refuse" title="refuse">拒接</option>
					<option value="emptyNum" title="emptyNum">空号/停机</option>
					<option value="infoError" title="infoError">信息不符</option>
					<option value="hasAccess" title="hasAccess">需要回访</option>
				</select>
			</div>
		</div>
		<div class="public_input nextRecordTime" style="display: none">
			<span style="width: 120px;">回访时间:</span>
			<input type="text" id="timeInput" style="width: 145px" placeholder="选择时间">
		</div>

	</div>
	<p class="confirm add_access_confirm" style="margin-left: 175px;width: 100px;" onclick="add_access(this)">确 定</p>
</div>
<script type="text/javascript" src="plug/jquery-1.11.3.js" ></script>
<script type="text/javascript" src="plug/template-web.js"></script>
<script src="plug/laydate/laydate.js"></script>
<script type="text/javascript" src="js/toggle.js" ></script>
<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/method.js"></script>
<script type="text/javascript" src="js/page.js"></script>
<script type="text/javascript" src="js/first.js?v=8888"></script>
<!--<script id="test_special_list" type="text/html">
	{{each data value}}
		<tr>
			<td>{{value.username}}</td>
			<td>{{value.mobile}}</td>

			&lt;!&ndash;<td width="150px" style="padding: 0;"><img src="{{value.headImgUrl}}" /></td>&ndash;&gt;
			<td>{{value.disease}}</td>
			<td>{{value.expertPrice}}</td>
			<td>{{if value.marketable==true}}已上架{{else if value.marketable == false}}未上架{{/if}}</td>
			<td>{{if value.isDrainage==true}}是{{else if value.isDrainage == false}}否{{/if}}</td>
			&lt;!&ndash;<td>{{value.sellQuantity}}</td>
			<td>{{value.score}}</td>&ndash;&gt;
			<td>{{if value.status=="unchecked"}}未审核{{else if value.status == "pass"}}通过{{else if value.status == "notpass"}}不通过{{/if}}</td>
			<td data_id="{{value.id}}">
				<button class="font_green" onclick="edit_special_proj(this)">修改</button>
				<button class="font_green" onclick="add_doc_case(this)">添加案例</button>
			</td>
		</tr>
	{{/each}}
</script>-->
<!--项目类型列表-->
<script type="text/html" id="test_proj_list">
	{{each data value}}
		<option value="{{value.id}}">{{value.name}}</option>
	{{/each}}
</script>
<script>
    firstConcult();
    laydate.render({
        elem: '#timeInput' //指定元素
    });
//初始化项目类型列表
//$.initSelect("/hospital/getBeautySubjectList.json","test_proj_list",".proj_type");
    function togetstaff(obj) {
        var elThis = obj;
        $(elThis).next('.submenu2').slideToggle()/*.siblings('.submenu2').slideUp()*/;
        $(elThis).parent().parent().siblings('.csx').children().children('.submenu2').slideUp();
        //$('.zhankaizi').text('展开');
        if($(elThis).children('.zhankaizi').text() == '收起'){
            $('.zhankaizi').text('展开');
            $(elThis).children('.zhankaizi').text('展开');
        }else{
            $('.zhankaizi').text('展开');
            $(elThis).children('.zhankaizi').text('收起');
        }
        //$(elThis).next('.submenu2').children('table').children('.tbodytable').empty();
        if($(elThis).attr('ajax') == 'true'){
            return
        }
        /*    $(obj).next('.submenu2').slideToggle()/!*.siblings('.submenu2').slideUp()*!/;
            $(obj).parent().parent().siblings('.csx').children().children('.submenu2').slideUp();
            //$('.zhankaizi').text('展开');
            if($(obj).children('.zhankaizi').text() == '收起'){
                $('.zhankaizi').text('展开');
                $(obj).children('.zhankaizi').text('展开');
            }else{
                $('.zhankaizi').text('展开');
                $(obj).children('.zhankaizi').text('收起');
            }
            $(obj).next('.submenu2').children('table').children('.tbodytable').empty();*/
        /* var htmlTable = [];
         htmlTable += '<table>' +
             '<thead>' +
             '<tr>' +
             '<td>用户名</td>' +
             '<td>密码</td>' +
             '<td>姓名</td>' +
             '<td>电话</td>' +
             '<td>所属部门</td>' +
             '<td>是否启用</td>' +
             '</tr>' +
             '</thead>' +
             '<tbody class="tbodytable">' +

             '</tbody>' +
             '</table>';*/
        //togetstaffAjax(obj);

    }
//请求方法
function reqPage(data){
	console.log(data);
    data.mobile = getQueryString('mobile');
    data.patientId = getQueryString('patientid');
	control_page.init_page(data,function(data){
		//调用ajax
		$.get_ajax("/hospital/allot/getHistoryRecord.json",data,function(data){
			console.log(data);
            accessNewsList(data);
            advisoryNewsList(data);
            diagnosisNewsList(data);


			//初始化分页
			control_page.currentPage(control_page.page_num,data.totalCount);
		});
	});
}
    function advisoryNewsList(data){
        data = data.data.advisoryJsons;
        $(".news_contentAdvisory").empty();
        var html = '';//template('test_special_list',data);
        if(data && data.length != 0){
            data.forEach(function(data){
                html += '<tr>'
                    +'<td>'+ new Date(data.createDate).Format("yyyy-MM-dd") +'</td>'
                    +'<td>'+data.hospital+'</td>'
                    +'<td>'+data.disease+'</td>';
                html += '</tr>'
                $(".news_contentAdvisory").html(html);
            })
        }else{
            html += '<tr><td colspan="8">暂无数据</td></tr>';
            $(".news_contentAdvisory").html(html);
        }

    }
    function diagnosisNewsList(data){
        data = data.data.diagnosisInfo;
        $(".news_contentDiagnosis").empty();
        var html = '';//template('test_special_list',data);
        if(data && data.length != 0){
            data.forEach(function(data){
                html += '<tr>'
                    +'<td>'+ new Date(data.createDate).Format("yyyy-MM-dd") +'</td>'
                    +'<td>'+data.hospital+'</td>'
                    +'<td>'+data.projectName+'</td>'
                    +'<td>'+data.amount+'</td>';
                html += '</tr>'
                $(".news_contentDiagnosis").html(html);
            })
        }else{
            html += '<tr><td colspan="8">暂无数据</td></tr>';
            $(".news_contentDiagnosis").html(html);
        }

    }
    function accessNewsList(data){
        data = data.data.accessJsons;
        $(".news_content").empty();
        var html = '';//template('test_special_list',data);
        if(data && data.length != 0){
            data.forEach(function(value){
                switch (value.hospitalStatus){
                    case 'unAccess':
                        value.hospitalStatus = '未回访';
                        break;
                    case 'reservation':
                        value.hospitalStatus = '已预约';
                        break;
                    case 'visit':
                        value.hospitalStatus = '已到诊';
                        break;
                    case 'success':
                        value.hospitalStatus = '已成交';
                        break;
                    case 'faild':
                        value.hospitalStatus = '到诊未成交';
                        break;
                    case 'repeat':
                        value.hospitalStatus = '重单';
                        break;
                    case 'unContact':
                        value.hospitalStatus = '无法联系';
                        break;
                    case 'refuse':
                        value.hospitalStatus = '拒接';
                        break;
                    case 'emptyNum':
                        value.hospitalStatus = '空号/停机';
                        break;
                    case 'infoError':
                        value.hospitalStatus = '信息不符';
                        break;
                    case 'hasAccess':
                        value.hospitalStatus = '需要回访';
                        break;
                    case undefined:
                        value.hospitalStatus = '';
                        break;
                }
                switch (value.platformStatus){
                    case 'refuse':
                        value.platformStatus = '拒接';
                        break;
                    case 'emptyNum':
                        value.platformStatus = '空号/停机';
                        break;
                    case 'infoError':
                        value.platformStatus = '信息不符';
                        break;
                    case 'hospitalUnAccess':
                        value.platformStatus = '院方未回访';
                        break;
                    case 'hasAccess':
                        value.platformStatus = '跟踪复仿';
                        break;
                    case 'success':
                        value.platformStatus = '已成交';
                        break;
                    case undefined:
                        value.platformStatus = '';
                        break;
                }
                html += '<tr>' +
                    '<td>'+new Date(value.createDate).Format('yyyy-MM-dd hh:mm:ss')+'</td>'
                    +'<td>'+value.creator+'</td>'
                    +'<td>'+value.hospitalStatus+'</td>'
                    +'<td>'+value.platformStatus+'</td>'
                    +'<td>'+value.brief+'</td>' ;
                html += '</tr>'
                $(".news_content").html(html);
            })
        }else{
            html += '<tr><td colspan="8">暂无数据</td></tr>';
            $(".news_content").html(html);
        }
    }
//修改
function edit_special_proj(m){
	var special_proj_id =  $(m).parent().attr("data_id");
	window.localStorage.setItem("special_proj_id",special_proj_id);
	window.location.href = "edit_special_proj.html";
}
function add_doc_case(m) {
    $('.add_access_box,.shade').show();
    //$('.add_access_confirm').attr('valueid',getQueryString('id'));
   /* var docId = $(m).parent().attr("data_id")
    window.localStorage.setItem("docId",docId);
    window.localStorage.setItem("case_type",'hosspecial');
    window.location.href = "add_doc_case.html";*/
}
$('.editpass').change(function () {
    if($('.editpass').val() == 'hasAccess'){
        $('.nextRecordTime').show();
    }else {
        $('.nextRecordTime').hide();
    }
});
function add_access() {
    if($(".editpass").val() == ''){
        alert('请选择状态');
        return;
    }
    if($(".editpass").val() == 'hasAccess'){
        if($("#timeInput").val() == ''){
            alert('请选择回访时间');
            return;
        }
    }
    if($(".access").val() == ''){
        alert('请填写回访内容');
        return;
    }
    var data = {};
    data.allotId = getQueryString('dataid');
    data.brief = $('.access').val();
    data.status = $(".editpass").val();
    if($(".editpass").val() == 'hasAccess'){
        data.hospitalAccessDate = $("#timeInput").val();
    }
    $.post_ajax("/hospital/allot/addAccess",data,function(data){
		alert(data.data);
		location.reload()
    });
}
</script>
<script>
var proj_type_id="";
var pass_val = "";

//项目类型
$(".proj_type").change(function(){
	proj_type_id = $(".proj_type").val();
	console.log(proj_type_id);
});
//是否上架
$(".pass").change(function(){
	pass_val = $(".pass").val();
	console.log(pass_val);
});
//是否引流
$(".isdrainage").change(function(){
    isDrainage_val = $(".isdrainage").val();
    console.log(isDrainage_val);
});
$(function(){
	reqPage(control_page.getData());
	//搜索
});
function search(obj) {
    console.log(obj)
    //基本条件
    if(obj == undefined){
        var data = control_page.getData();
    }else{
        var data = obj;
    }
    //项目名称
    var proj_name = $(".proj_name").val();
    if(proj_name != ""){
        data.keyword = proj_name;
        console.log(data);
    }
//时间
    var proj_time = $("#timeInput").val();
    if(proj_time != ""){
        data.date = proj_time;
        console.log(data);
    }
    //状态
    var proj_status = $(".pass").val();
    if(proj_status != ""){
        data.status = proj_status;
        console.log(data);
    }
    console.log(data);
    reqPage(data);
}
</script>
</body>
</html>
